export(
	newSparkLine,newSparkBar,newSparkBox,newSparkTable,reshapeExt,newGeoTable,
	setParameter,getParameter,plotSparks,plotSparkTable,plotGeoTable
)
exportClasses(sparkline,sparkbox,sparkbar,sparkTable,geoTable)

importFrom(graphics, plot)
